# Verifikation und Validierung
Um die Simulation abschließend bewerten zur können, benötigt es Dokumente
und Metriken zur Verifikation und Validierung des Programmes.

## Verifikation
<!-- Informelles Conceptual Model -> Simulation Model -->

Auf die Frage, ob die Simulation richtig implementiert wurde, dient dieses 
Conceptual Model als Anforderungen an die Simulation.

## Validierung
<!-- Behaviour Validation \(Parameteränderungen Plausibel\) -->
<!-- Replicative Validation -->

Als Methoden der Validierung werden Behavior Validation und 
Replicative Validation angewandt.

Als Behavior Validation wird auf veränderte Parameter ein plausibles 
Verhalten erwartet. Im Falle der Fahrstühle wird bei einem erhöhten 
Personenaufkommen auch eine höhere durchschnittliche Wartezeit erwartet 
und vice versa.

Bei der Replicative Validation werden mittels Experimente die Ergebnisse 
verglichen. So soll bei gleichen Parametern trotz Zufallselementen, 
wie die Zielstockwerke der Personen, das gleiche oder ein ähnliches 
Ergebnis erzielt werden.