# Verifikation und Validierung

## Verifikation

[//]: # (Informelles Conceptual Model --> Simulation Model)

## Validierung

[//]: # (Behaviour Validation \(Parameteränderungen Plausibel\))
